# Postgres
POSTGRES_HOST=postgres # Points to the "postgres" service in the docker-compose-db.yaml file
POSTGRES_PORT=5432 # Port which Flyway uses to connect to the DB
POSTGRES_USER=<user> # User to connect to the database with. This also by default creates a database named $POSTGRES_USER
POSTGRES_PASSWORD=<password> # Password for the DB user

# Flyway
FLYWAY_EDITION="community"